* {
    font-family: monospace;
}
body {
    background-color: #6B6D76;
}
h1 {
    color: #FCBFB7;
    text-align: center;
}
.Calc {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: space-around;
    background-color: #A69888;
    width: 20rem;
    height: 30rem;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    gap: 3px;
    border-radius: 10px;
}
.button {
    width: 24%;
    height: 15%;
    border-radius: 7px;
    border: 0;
    background-color: azure;
}
.button:hover {
    background-color: rgb(182, 182, 182);
}
.buttons {
    width: 24%;
    height: 15%;
    border-radius: 7px;
    border: 0;
    background-color: azure;
}
.buttons:hover {
    background-color: rgb(182, 182, 182);
}
.clear {
    width: 49%;
    background-color: palevioletred;
    border-radius: 10px;
}
.clear:hover {
    background-color: rgb(204, 95, 131);
}
.delete {
    width: 49%;
    background-color: rgb(104, 141, 211);
    border-radius: 10px;
}
.delete:hover {
    background-color: rgb(88, 127, 199);
}
.screen {
    height: 15%;
    width: 99%;
    background-color: azure;
    display: flex;
    justify-content: end;
    align-items: center;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 10px;
}
